@import '~bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar-brand img {
  transition: transform 0.3s;
}

.navbar-brand:hover img {
  transform: scale(1.2);
}

.navbar-nav .nav-link {
  transition: background-color 0.3s;
}


.navbar-nav .nav-link:hover {
  background-color: #58B3FF;
}

.form-inline input {
  transition: border-color 0.3s;
}

.form-inline input:focus {
  border-color: #58B3FF;
}

.no-scroll {
  overflow: hidden !important;
}
