@import '~bootstrap/dist/css/bootstrap.css';


* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  text-align: center;
  background: #fff;
}

.header {
  padding-top: 30px;
  color: #4078c0;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  background: #ddd;
  border-radius: 12px;
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.desig {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.github-icon {
  display: block;
  font-size: 30px;
  color: #333;
  margin-top: 10px;
  text-decoration: none;
}

.github-icon:hover {
  color: #4078c0;
}

@media screen and (max-width: 600px) {
  .teams {
      max-width: 100%;
  }
}
