<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Our Team</h1>
    </div>
    <div class="sub-container">
      <div class="teams">
        <img src="../../assets/abt.gif" alt="">
        <div class="name">Mohamed Sadrafe</div>
        <div class="desig">Full Stack Developer</div>
        <div class="about">étudiant en ingénierie informatique en cinquième année à l'EMSI, ma passion pour la
          technologie s'est développée dès mon plus jeune âge. </div>
        <a href="https://github.com/Smhmd05" target="_blank" class="github-icon">
          <i class="fab fa-github"></i>
        </a>

      </div>

      <div class="teams">
        <img src="../../assets/abt2.gif">
        <div class="name">Imad Ettamen </div>
        <div class="desig">Full Stack Developer</div>
        <div class="about">Elève Ingénieur ,passionné par le monde de la technologie et du développement logiciel, et
          je suis également intéressé par des sujets tels que Programmation Web, mobile, Devops et les
          Microservices.</div>
        <a href="https://github.com/imadett88" target="_blank" class="github-icon">
          <i class="fab fa-github"></i>
        </a>

      </div>

      <div class="teams">
        <img src="../../assets/abt3.gif" alt="">
        <div class="name">Yassine Bahou</div>
        <div class="desig">Full Stack Developer</div>
        <div class="about">étudiant en ingénierie informatique en cinquième année à l'EMSI, je suis passionné le monde
          de développement logiciel et la création des solution IT</div>
        <a href="https://github.com/yassinebahou" target="_blank" class="github-icon">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</body>