@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}
.wrapper h1 {
  font-size: 3em;
  margin: 25px;
  opacity: 0;
  animation: fadeIn 1.5s ease-out infinite alternate;
  color: #4078c0;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.wrapper p {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #6c757d;
}


.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    border-radius: 22px;
}
.card i{
    margin: 20px;
    color: #58B3FF;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: #6c757d;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
    rgba(61, 145, 255, 0.7) 0% ,
    rgba(79, 165, 231, 0.7)100% ) ,
                                    url("../../assets/s1.jpeg");
                                    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
    rgba(61, 145, 255, 0.7) 0% ,
    rgba(79, 165, 231, 0.7)100% ) ,
                                    url("../../assets/s2.jpeg");
                                    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
    rgba(61, 145, 255, 0.7) 0% ,
    rgba(79, 165, 231, 0.7)100% ) ,
                                    url("../../assets/s3.jpeg");
                                    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,
    rgba(61, 145, 255, 0.7) 0% ,
    rgba(79, 165, 231, 0.7)100% ) ,
                                    url("../../assets/s4.jpeg");
                                    background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg,
    rgba(61, 145, 255, 0.7) 0% ,
    rgba(79, 165, 231, 0.7)100% ) ,
                                    url("../../assets/s5.jpeg");
                                    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,
                                   rgba(61, 145, 255, 0.7) 0% ,
                                   rgba(79, 165, 231, 0.7)100% ) ,
                                    url("../../assets/s6.jpeg");
                                    background-size: cover;
}
@media(max-width:991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}
