<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <div class="wrapper">
    <h1>Nos Services</h1>
    <p>Découvrez les services exceptionnels offerts par IMY pour simplifier la gestion de vos événements. Nous nous
      engageons à rendre chaque étape, de la planification à l'exécution, aussi fluide que possible. Faites confiance à
      IMY pour une expérience événementielle inoubliable.</p>
    <div class="content-box">
      <div class="card">
        <i class="bx bxs-store bx-md"></i>
        <h2>Gestion des Billets</h2>
        <p>Simplifiez la vente et la distribution des billets grâce à notre plateforme conviviale de gestion des billets
          en ligne. </p>

      </div>
      <div class="card">
        <i class="bx bx-laptop bx-md"></i>
        <h2>Personnalisation Avancée</h2>
        <p>Adaptez chaque détail de votre événement avec notre outil de personnalisation avancée, pour créer une
          expérience unique.</p>

      </div>
      <div class="card">
        <i class='bx bx-user bx-md'></i>
        <h2>Interaction en Temps Réel</h2>
        <p>Favorisez l'interaction entre les participants avec des fonctionnalités en temps réel, des commentaires et
          des
          sondages.</p>

      </div>
      <div class="card">
        <i class="bx bx-time bx-md"></i>
        <h2>Planification Optimiséel</h2>
        <p>Utilisez notre outil de planification avancée pour optimiser les horaires, les emplacements et les ressources
          de votre événement.</p>

      </div>
      <div class="card">
        <i class="bx bx-football bx-md"></i>
        <h2>Programme de Formation Athlétique</h2>
        <p> Proposez un programme de formation athlétique intégré pour aider les participants à se préparer et à
          exceller
          dans leurs performances sportives.</p>

      </div>
      <div class="card">
        <i class="bx bx-support bx-md"></i>
        <h2>Équipe de Support</h2>
        <p> Bénéficiez de l'assistance continue de notre équipe dédiée pour répondre à vos besoins spécifiques liés à la
          gestion d'événements sportifs.</p>

      </div>
    </div>
  </div>
</body>