<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

  <div class="container">

    <form action="">

      <div class="row">

        <div class="col">

          <h3 class="title">Adresse de facturation</h3>

          <div class="inputBox">
            <span>Nom Complet :</span>
            <input type="text" placeholder="example example">
          </div>
          <div class="inputBox">
            <span>Email :</span>
            <input type="email" placeholder="example@example.com">
          </div>
          <div class="inputBox">
            <span>Adresse :</span>
            <input type="text" placeholder="chambre-rue-localité">
          </div>
          <div class="inputBox">
            <span>Ville :</span>
            <input type="text" placeholder="casa">
          </div>

          <div class="flex">
            <div class="inputBox">
              <span>Pays :</span>
              <input type="text" placeholder="Maroc">
            </div>
            <div class="inputBox">
              <span>Code postal :</span>
              <input type="text" placeholder="123 456">
            </div>
          </div>

        </div>

        <div class="col">

          <h3 class="title">Paiment</h3>

          <div class="inputBox">
            <span>Cart accepté :</span>
            <img src="../../assets/card_img.png" alt="">
          </div>
          <div class="inputBox">
            <span>Nom de card :</span>
            <input type="text" placeholder="mr. example exm">
          </div>
          <div class="inputBox">
            <span>Credit card numéro :</span>
            <input type="number" placeholder="1111-2222-3333-4444">
          </div>
          <div class="inputBox">
            <span>Mois d'exp :</span>
            <input type="text" placeholder="january">
          </div>

          <div class="flex">
            <div class="inputBox">
              <span>Année d'exp:</span>
              <input type="number" placeholder="2022">
            </div>
            <div class="inputBox">
              <span>CVV :</span>
              <input type="text" placeholder="1234">
            </div>
          </div>

        </div>

      </div>

      <input type="submit" value="passez à la caisse" class="submit-btn">

    </form>

  </div>

</body>